/* Global Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --color-primary: #351c75;
    --color-secondary: #bd60e7;
    --color-background: #fff;
    --font-size-main-title: 3.0rem;
    --font-size-question: 2.2rem;
    --font-size-main-paragraph: 1.6rem;
    --font-size-header: 1.2rem;
}

/* Start of Styling of HTML default tags */
html {
    font-size: 16px;
}

body {
    background-color: var(--color-background);
    font-family: sans-serif;
}

/* Utility Class */
.button-wrapper {
    text-align: left;
}

/* HEADER SECTION - START */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    margin: 20px 40px;
}

.nav-link {
    cursor: pointer;
    border: none;
    background-color: var(--color-background);
    color: var(--color-secondary);
}

.nav-link, .header__div__timer {
    font-weight: 500;
    font-size: var(--font-size-header);
}

.nav-link:focus {
    outline: none;
}

/* HEADER SECTION - END */

/* MAIN SECTION - START */
main {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

main h1 {
    font-size: var(--font-size-main-title);
    padding-bottom: 20px;
}

main .main__title__paragraph {
    font-size: var(--font-size-main-paragraph);
    padding: 20px 0 40px 0;
    line-height: 2rem;
}

/* General Styles of buttons */
.btn {
    background-color: var(--color-primary);
    border-radius: 5px;
    color: var(--color-background);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: none;
    line-height: 1.5rem;
}

/* button hover state */
.btn:hover {
    background-color: var(--color-secondary);
}

/* Large buttons */
.btn-large {
    margin: 15px 15px;
    padding: 12px 25px;
    font-size: var(--font-size-main-paragraph);
}

/* Small buttons */
.btn-sm {
    margin: 5px 10px;
    padding: 10px 20px;
    font-size: var(--font-size-header);
    min-width: 250px;
    text-align: left;
}

/* Extra small buttons */
.btn-xs {
    margin: 5px 5px;
    padding: 5px 12px;
    font-size: var(--font-size-header);
    position: relative;
    top: -3px;
}

/* Question container */
.div__question {
    text-align: left;
    font-size: var(--font-size-question);
    font-weight: bold;
    margin-bottom: 20px; 
}

.options-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

#message-wrapper, #result-wrapper, #score-wrapper {
    display: none;
}

/* Message container */
.div__message {
    margin-top: 20px;
    text-align: left;
    color: rgba(128, 128, 128, 0.7);
}

.div__message p {
    padding-top: 10px;
    font-size: var(--font-size-main-paragraph);
}

.btn-container:last-child {
    margin-bottom: 10px;
}

/* Final Result container */
.final-score {
    text-align: left;
    font-size: var(--font-size-main-paragraph);
}

.entry-form {
    margin: 20px auto;
    text-align: left;
    font-size: var(--font-size-main-paragraph);
}

.entry-form input[type=text] {
    width: 250px;
    line-height: 2rem;
    position: relative;
    top: -3px;
    margin: 0 10px 0 5px;
    border: 1px solid grey;
    font-size: var(--font-size-header);
    padding: 3px 5px;
}

#score-wrapper{
    margin-top: 80px;
}

/* High Scores container */
#score-list {
    list-style: none;
    text-align: left;
    width: 100%;
    margin: 10px 0 15px 0;    
}

#score-list li {
    margin: 5px 0;
    padding: 8px 5px;;
}

/* alternative colors for rows */
#score-list li:nth-child(2n - 1) {
    background-color: rgba(53, 28, 117, 0.3);
}
/* MAIN SECTION - END */